### Android ###
# Built application files
*.apk
*.ap_
*.aab

#java memory profile
*.hprof

# Local configuration file (sdk path, etc)
local.properties

# IntelliJ
*.iml
.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
# Gradle files
.gradle/
build/
# Android Studio captures folder
captures/

# Google Services (e.g. APIs or Firebase)
google-services.json

# Android Studio
/*/build/
/*/local.properties
/*/out
/*/*/build
/*/*/production
*.ipr
*~
*.swp

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

### alsd - more ###
app/release/
*-keystore.properties
*.jks

# uploading gradle wrapper is a good pratice, it lead to same build on other platforms the source is copied to